In [1]:
for x in range(5):
    print("*"*5)

*****
*****
*****
*****
*****

In [2]:
for x in range(5):
    print("*"*(x+1))

*
**
***
****
*****

In [10]:
var = 1
for x in range(6):
    for y in range(x):
        print(str(x)*var)
        var = var+1
        break

1
22
333
4444
55555

In [17]:
var = 6
for x in range(5):
    print("*"*(var-1))
    var = var-1

*****
****
***
**
*

In [20]:
for x in range(1,6): #rows
    for y in range(1,x+1): #cols
        print(y, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [28]:
var = 6 
for x in range(1,6):
    for y in range(1,var):
        print(y, end=" ")
    var = var - 1

1 2 3 4 5 1 2 3 4 1 2 3 1 2 1

In [6]:
rows = 5
cols = rows+rows
spaces = rows - 1
stars = 1
for x in range(1,rows+1):
    for y in range(1,cols+1):
        print(" "*spaces + "*"*stars + " "*spaces)
        spaces = spaces - 1
        stars = stars + 2
        break

    *
   ***
  *****
 *******
*********

In [63]:
rows = 5
cols = 10
spaces = 1
stars = cols-1
for x in range(1,rows+1):
    for y in range(1,cols+1):
        print(" "*spaces + "*"*stars + " "*spaces)
        spaces = spaces + 1
        stars = stars - 2
        break

 *********
  *******
   *****
    ***
     *

In [5]:
rows = 5
cols = rows+rows
spaces = rows - 1
stars = 1
array = []
for x in range(1,rows+1):
    for y in range(1,cols+1):
        array.append(" "*spaces + "*"*stars + " "*spaces)
        print(" "*spaces + "*"*stars + " "*spaces)
        spaces = spaces - 1
        stars = stars + 2
        break
array.reverse()
print(*array, sep='\n')

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [24]:
import math
cols = 6 #make two vars for up and down cols
rows = cols+cols
spaces = rows - 1
stars = 1
array = []
for x in range(1,math.floor(rows/2)):
    for y in range(1,cols+1):
        print("*"*stars + " "*spaces)
        spaces = spaces - 1
        stars = stars + 1
        break
        
cols = 5
rows = cols+cols
spaces = 1
stars = cols-1

for x in range(1,math.floor(rows/2)):
    for y in range(1,math.floor(cols/2)):
        print("*"*stars + " "*spaces)
        spaces = spaces + 1
        stars = stars - 1
        break

*
**
***
****
*****
****
***
**
*

In [22]:
var1 = 1
var0 = 0
mystring = ""
for x in range(1,6):
    if (x%2==1 and y%2==0) or (x%2==0 and y%2==1):
        mystring = mystring + (str(var0)+str(var1))*(x)
        n=len(mystring)
        if n%2 == 0:
            string1 = mystring[0:n//2]
        else:
            string1 = mystring[0:(n//2+1)]
        print(string1)
        n=0
        mystring = ""
    elif (x%2==y%2==0) or (x%2==y%2==1):
        mystring = mystring + (str(var1)+str(var0))*(x)
        n=len(mystring)
        if n%2 == 0:
            string1 = mystring[0:n//2]
        else:
            string1 = mystring[0:(n//2+1)]
        print(string1)
        n=0
        mystring = ""
        
# logic
# for zeros:
# x1 y0
# x2 y1
# x3 y0
# x3 y2
# x4 y1
# x4 y3

# for ones:
# x0 y0
# x1 y1
# x2 y0
# x2 y2
# x3 y1
# x3 y3
# x4 y0
# x4 y2
# x4 y4

1
01
101
0101
10101

In [9]:
var = 64
for x in range(1,6): #rows
    for y in range(1,x+1): #cols
#         if y == 1:
#             var = var + 1
#         elif y == 2:
#             var = var + 2
#         elif y == 3:
#             var = var + 3
#         elif y == 4:
#             var = var + 4
#         elif y == 5:
#             var = var + 5
        var = var + y
        print(chr(var), end=" ")
        var = 64
    print()

A
A B
A B C
A B C D
A B C D E

In [10]:
var = 1
for x in range(1,6): #rows
    for y in range(1,x+1): #cols
        print(var, end=" ")
        var = var + 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [17]:
var = 64
for x in range(5,0,-1): #rows
    for y in range(1,x+1): #cols
        var = var + y
        print(chr(var), end=" ")
        var = 64
    print()

A B C D E
A B C D
A B C
A B
A

In [27]:
var = 64
for x in range(1,6): #rows
    var = var + 1
    for y in range(1,x+1): #cols
        print(chr(var), end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [2]:
rows = 4
cols = rows+rows
spaces = " "
digit = "1"
for x in range(1,rows+1):
    cols = cols - 2
    print(str(digit) + spaces*(cols) + digit[::-1])
    digit = digit + str(int(digit[-1:])+1)

1      1
12    21
123  321
12344321

In [123]:
rows = 20
cols = rows+rows
spaces = rows - 1
var = 65
string_char = "B"
mid_char = ""
mystring = chr(var)
printing_string = " "*spaces + mystring +" "*spaces
spaces = spaces - 1
print(printing_string)
for x in range(1,rows):
        printing_string = " "*spaces + mystring + string_char[-1:]+ mystring[::-1] +" "*spaces
        print(printing_string)
        string_char = string_char + printing_string
        spaces = spaces - 1
        mystring = mystring + chr(ord(mystring[-1:])+1)
        mid_char = mystring[-1:]
        mid_char = ord(mid_char) + 1 #ascii value finding function
        mid_char = str(chr(mid_char))
        string_char = string_char + mid_char

                   A
                  ABA
                 ABCBA
                ABCDCBA
               ABCDEDCBA
              ABCDEFEDCBA
             ABCDEFGFEDCBA
            ABCDEFGHGFEDCBA
           ABCDEFGHIHGFEDCBA
          ABCDEFGHIJIHGFEDCBA
         ABCDEFGHIJKJIHGFEDCBA
        ABCDEFGHIJKLKJIHGFEDCBA
       ABCDEFGHIJKLMLKJIHGFEDCBA
      ABCDEFGHIJKLMNMLKJIHGFEDCBA
     ABCDEFGHIJKLMNONMLKJIHGFEDCBA
    ABCDEFGHIJKLMNOPONMLKJIHGFEDCBA
   ABCDEFGHIJKLMNOPQPONMLKJIHGFEDCBA
  ABCDEFGHIJKLMNOPQRQPONMLKJIHGFEDCBA
 ABCDEFGHIJKLMNOPQRSRQPONMLKJIHGFEDCBA
ABCDEFGHIJKLMNOPQRSTSRQPONMLKJIHGFEDCBA

In [4]:
num_chars = 5
var = 64
index = 0
mystring = ""
for x in range(num_chars,0,-1): #rows
    for y in range(1,x+1): #cols
        y = y+index
        var = var + y
        print(chr(var), end="")
        var = 64 
    index = index + 1
    print()

ABCDE
BCDE
CDE
DE
E

In [17]:
#reverse it
num_chars = 5
var = 64
index = 0
mystring = ""
for x in range(num_chars,0,-1): #rows
    for y in range(1,x+1): #cols
        y = y+index
        var = var + y
        print(chr(var), end="")
        var = 64 
    index = index + 1
    print()

ABCDE
BCDE
CDE
DE
E